@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;600;800&family=Noto+Sans+TC:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    transform: uppercase;
    background-color: #1a1a2e;
   
font-family: 'Noto Sans TC', sans-serif;
   
}
.header {
    background: url('/static/background1.jpg') no-repeat ;
    background-size: cover;
  height: 800px;
  width: 100vmax;

}
.container{
    max-width: 1600px;
    margin: 0 auto;
}

.header__nav{
 color: lightblue;    
 display: flex;    
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 
}


.header__menu {
    display: flex;
    
}

.header__menu li{
    padding: 40px;  
    list-style: none;
    font-weight: 700;
    font-size: 24px;
   }
.header__menu a{
    color: lightskyblue;    
    text-decoration: none;
   }


.header__logo {
    width:120px;
    height:120px;
    padding: 20px 0 20px 20px 0;
    display: flex;
  
}



.containe {
    max-width: 950;
    margin: 0 auto; /*  позиционирование по центру */
}

.header__title{
    margin: 100px 0 0 10px;
    color: whitesmoke;
    font-size: 40px;
    border: 1px solid whitesmoke;
    position: relative;
    padding-left: 100px;
}
.header__title img{
   width: 80px;
   position: absolute;
   top:220px;
   left: 960px
}

.main {
}

.main__news  {
    display: flex;
    flex-direction: row;
}

.main__title>h1 {
    color: lightskyblue; 
    border-bottom: 1px solid lightskyblue;
    text-transform: uppercase;
     
}
.news {
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    color:  whitesmoke;
    padding-right:5px;
    
}


.news:last-of-type {
    
    padding-right: 0px;
}
.news__title {
    
    font-size: 25px;
    font-weight: 400;
}
.news__text {
    font-size: 18px;
    font-weight: 400;
    
    
}
.news__text p{
   
    height: 104px;
    overflow: hidden;
    
}
.open p{
    height:fit-content ;
    background-color: teal;
}

.news>img {
    object-fit: contain;
}



.footer {

}